.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "h h"
  "n c";

}

.header {
  grid-area: h;
  background-color: green;
  margin-bottom: 10px;
}

.header img {
  width: 50px;
}

.nav {
  background-color: burlywood;
  grid-area: n;
}

.content {
  background-color: bisque;
  grid-area: c;
}

.content img {
  height: 500px;
}